.about {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: #fcfbf8;
  background-image: url("../img/bg_texture.jpg");
  background-position: 0 0;
  background-size: cover;
}

.about__wrapper {
  .container(280px);
}

.about__title {
  .style-title();
}

.about__subtitle {
  .style-subtitle();
}

.about__description {
  .style-description();
  margin-top: 35px;
}

.about__pictures {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about__item {
  position: relative;
  width: 295px;
  height: 250px;
  margin-bottom: 10px;

  &:nth-child(-n + 2) {
    display: none;
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 273px;
    height: 228px;
    border: 5px solid white;
  }
}

.about__slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 279px;
  height: 184px;
  padding-top: 95px;
  background-image: url("../img/subsrtare.png");
  opacity: 0.9;

  color: @gold;
  text-align: center;
  font-family: "Alegreya", serif;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
}


@media (min-width: @tablet-width) {
  .about__wrapper {
    .container(640px);
  }

  .about__pictures {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .about__item {
    margin: 10px;
    &:nth-child(-n + 2) {
      display: block;
    }
  }
}

@media (min-width: @desktop-small-width) {
  .about__wrapper {
    .container(800px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about__text-block {
    .container(380px);
    margin: 0;
  }
  .about__pictures {
    .container(315px);
    margin: 0;
  }

  .about__item {
    &:nth-child(-n + 2) {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .about__wrapper {
    .container(1100px);
  }
  .about__text-block {
    max-width: 380px;
  }
  .about__pictures {
    max-width: 630px;
    flex-direction: row;
    align-items: flex-start;
  }

  .about__item {
    &:nth-child(-n + 2) {
      display: block;
    }
  }
}

@media (min-width: @max-width) {
  .about {
    padding-top: 110px;
    padding-bottom: 100px;
  }

  .about__wrapper {
    .container(1260px);
  }
  .about__text-block {
    .container(490px);
  }

  .about__title {
    .style-title-desktop();
  }

  .about__subtitle {
    .style-subtitle-desktop();
  }

  .about__description {
    margin-top: 60px;
  }

  .about__pictures {
    max-width: 630px;
  }
}