.book {
  .container(280px);
  position: relative;
  filter: drop-shadow(0px 0px 40px fade(black, 40%));
  
}

.book__wrapper {
  position: relative;
  .container(280px);
  height: 100%;
  box-sizing: border-box;
  background-color: #f3f1e9;
  padding: 11px;
  z-index: 10;

  &::before {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    content:"";
    display: block;
    width: auto;
    height: auto;
    border: 1px dashed #c3bfbb;
  }

  &--2, &--3 {
    display: none;
  }
}

.book__page {
  position: relative;
  .container(260px);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #f3f1e9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.book__date {
  display: flex;
  justify-content: space-between;
  width: 140px;
  color: @gray;
  font-family: "Alegreya", serif;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  font-weight: bold;
}

.book__icon {
  position: relative;
  width: 100%;
  height: 60px;
  

  &-line {
    position: absolute;
    width: 100%;
    top: 50%;
    height: 1px;
    background-color: #c3bfbb;
  }
  &-image {
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: 0;
    z-index: 10;

    width: 60px;
    height: 60px;
    background-color: #f3f1e9;
    border: 1px solid #c3bfbb;
    border-radius: 50%;
    background-image: url('../img/icon_bagel.png');
    background-repeat: no-repeat;
    background-position: center center;
  }

  &::after, &::before {
    position: absolute;
    top: 50%;
    margin-top: -6px;
    content:"";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #f3f1e9;
    border: 1px solid #c3bfbb;
    border-radius: 50%;
  }

  &::after {
    right: 0;
    z-index: 10;
  }
  &::before {
    left: 0;
    z-index: 10;
  }
}

.book__title {
  margin-top: 40px;
  color: @gray;
  text-align: center;
  font-family: "Alegreya", serif;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.025em;
  font-weight: bold;
}

.book__description {
  margin-top: 0;
  margin-bottom: 40px;
  color: @gray;
  text-align: center;
  font-family: "ProximaNova", sans-serif;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
}

.book__link {
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 65px;
  padding-right: 65px;
  color: @brown;
  text-align: center;
  background-color: transparent;
  border: 1px solid #9e9c93;
  font-size: 18px;
  line-height: 30px;
  z-index: 35;
}

@media (min-width: @tablet-width) {
  .book {
    .container(320px);
    margin: 0;
  }

  .book__wrapper {
    .container(320px);
  }

  .book__page {
    .container(300px);
    // max-width: 298px;
  }

  
}

@media (min-width: @desktop-small-width) {
  .book__title {
    max-width: 298px;
  }

  .book__description {
    max-width: 298px;
  }

  .book__page--2, .book__page--3 {
    .book__description, .book__title {
      font-size: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .book {
    .container(380px);
    width: 380px;
    height: 600px;
    margin: 0;
  }

  .book__wrapper {
    .container(380px);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 6.8% 100%, 0 95%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 6.8% 100%, 0 95%);

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 20;
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      background-color: #fff;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%);
    }

    &--2, &--3 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -12px;
      display: block;
      width: 400px;
      height: 550px;
      z-index: 5;
      filter: brightness(85%);
    }

    &--3 {
      width: 370px;
      height: 500px;
      right: -24px;
      z-index: 0;
      filter: brightness(70%);
    }
  }

  .book__page {
    .container(310px);
  }

  

  .book__title {
    margin-top: 55px;
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 40px;
    max-width: 330px;
  }

  .book__description {
    max-width: 330px;
  }

  .book__date {
    width: 230px;
  }

  .book__page--2, .book__page--3 {
    .book__description, .book__title {
      font-size: 0;
    }
  }

}

@media (min-width: @max-width) {
  .book {
    .container(440px);
    width: 440px;
    margin: 0;
  }

  .book__wrapper {
    .container(440px);
  }

  .book__page {
    .container(350px);
    // max-width: 370px;
  }

  .book__title {
    font-size: 44px;
    line-height: 60px;
    max-width: 370px;
  }

  .book__description {
    max-width: 370px;
  }

  .book__page--2, .book__page--3 {
    .book__description, .book__title {
      font-size: 0;
    }
  }

}