.breakfast {
  position: relative;
  padding-top: 60px;
  padding-bottom: 70px;
  background-color: #4a4e5f;
  background-image: url("../img/bg_breakfast.jpg");
  background-position: 23% 0;
  background-size: cover;
  &::after {
    position: absolute;
    right: 0;
    bottom: 15px;
    display: block;
    width: 150px;
    height: 146px;
    content: "";
    background-image: url("../img/spikes.png");
    background-size: cover;
    z-index: 10;
  }
}

.breakfast__wrapper {
  .container(280px);
}

.breakfast__menu {
  .container(280px);
}

.breakfast__title {
  .style-title(white);
}

.breakfast__subtitle {
  .style-subtitle(#c8a593);
  margin-bottom: 40px;
}

.breakfast__list {
  list-style: none;
  margin: 0;
  padding: 0;

}

.breakfast__item {
  text-align: center;
  padding-bottom: 50px;
}



.breakfast__item:not(:last-child) {
  position: relative;
  &::after {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -45px;
    display: block;
    width: 90px;
    height: 27px;
    content: "";
    background-image: url("../img/icon_spikes.png");
  }
}

.breakfast__name {
  margin: 0;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  font-family: "Alegreya", serif;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.05em;
  font-weight: bold;
}

.breakfast__description {
  margin: 0;
  margin-bottom: 20px;
  color: #c2beba;
  text-align: center;
  font-family: "ProximaNova", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
}

.breakfast__cost {
  color: #dfc691;
  text-align: center;
  font-family: "Alegreya", serif;
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 0.05em;
}

@media (min-width: @tablet-width) {
  .breakfast__wrapper {
    .container(640px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }

  .breakfast__item:last-child {
    padding-bottom: 0;
  }

  .breakfast__menu {
    margin: 0;
  }
}

@media (min-width: @desktop-small-width) {
  .breakfast {
    &::after {
      bottom: 15px;
      width: 200px;
      height: 146px;
    }
  }
  .breakfast__wrapper {
    .container(800px); 
  }

  .breakfast__menu {
    max-width: 320px;
    margin-left: 34px;
  }
}

@media (min-width: @desktop-width) {
  .breakfast {
    &::after {
      bottom: 15px;
      width: 300px;
      height: 180px;
    }
  }

  .breakfast__wrapper {
    .container(970px); 
  }

  .breakfast__menu {
    width: 540px;
    max-width: 540px;
    // margin: 0 auto;
  }
  
  .breakfast__title {
    font-size: 54px;
  }

  .breakfast__subtitle {
    font-size: 16px;
    margin-bottom: 60px;
  }
}

@media (min-width: @max-width) {
  .breakfast {
    padding-top: 90px;
    padding-bottom: 90px;
    &::after {
      bottom: 0;
      width: 300px;
      height: 200px;
    }
  }

  .breakfast__wrapper {
    .container(1200px); 
  }

  .breakfast__menu {
    margin-left: 34px;
  }

  .breakfast__title {
    font-size: 60px;
  }

  .breakfast__subtitle {
    font-size: 18px;
  }

}