.greeting {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.greeting__title {
  margin: 0;
  text-align: center;
  color: white;
  text-shadow: 0px 1px #3d3029;
  font-family: "PlayfairDisplay", serif;
  font-size: 24px;
  letter-spacing: 0.075em;

  &::after {
    content: "";
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 12px;
    background-image: url("../img/dashed_line.png");
    background-position: center center;
  }
}

.greeting__description {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  color: white;
  text-shadow: 0px 1px #3d3029;
  font-family: "ProximaNova", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
}

.greeting__link {
  text-align: center;
  color: white;
  background-color: fade(@gray, 53%);
  border: 1px dashed #9e9c93;
}

@media (min-width: @tablet-width) {
  .greeting__title {
    font-size: 36px;
    &::after {
      margin-top: 30px;
      margin-bottom: 30px;

    }
  }

  .greeting__description {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-small-width) {
  .greeting__title {
    font-size: 60px; 

    &::after {
      margin-top: 45px;
      margin-bottom: 45px;
      width: 190px;
    }
  }

  .greeting__description {
    width: 566px;
    margin-bottom: 60px;
  }
}

@media (min-width: @desktop-width) {
  
}

@media (min-width: @max-width) {
  .greeting__title {
    font-size: 92px;
  }

  .greeting__description {
    font-size: 24px;
    line-height: 36px;
  }
}